$dark-grey-color: #333333;
$grey-color: #484848;
$magenta-color: #ba2e8b;
$blue-color: #2badfe;
$white-color: #fefefe;
$hover-color: #0095a4;
$primary-color: #3f3f3f;
$secondary-color: #ecebe4;
$highlight: #ffffff;
$hover: #5dd4f9;
